.container {
	/*padding: 10px;*/
	border-top: 1px solid rgba(34, 36, 38, .15);
	/*border-bottom: 1px solid rgba(34,36,38,.15);*/
	
	/*line-height: 1.8em;*/
	/*line-height: .7em;*/
	position: relative;
    padding-top: 5px;
}


.container:nth-child(odd) {
    background: #fafafb;
}
.container:nth-child(even) {
    background: #fff;
}

.crn {
	font-weight: bold;
	/*padding-top: 10px;*/
}
.table {
	width: 100%;
    line-height: 13px;
}

.globe {
	/*float: right;*/
	/*padding: 8px;*/
	position: absolute;
	top: 6px;
	right: 6px;
}

/*.table td {*/


/*padding-top: 50px;*/


/*border: 1px solid rgba(34,36,38,.15); */


/*}*/

.container span {
	/*border: 1px solid rgba(34,36,38,.15); */
}
.firstColumn {
	display: none;
	padding: 2px;
	padding-right: 2px;
	color: #999;
	/*border-right: 1px solid rgba(34, 36, 38, .03);*/
	max-width: 32px;
}
.secondColumn {
    padding-left: 7px;
	padding: 5px;
}
.container tr {
	/*border-bottom: 1px solid rgba(34, 36, 38, .03);*/
}
.firstRow {
	/*height: 50px;*/
	/*border-top: 1px solid rgba(34, 36, 38, .03);*/
	vertical-align: bottom;
}
.lastRow {
	height: 34px;
	vertical-align: top;
	border-bottom: none !important;
}
.title {
	display: none;
	font-weight: bold;
	color: #666;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 3px;
	padding-left: 4px;
}
